<nav>
    <div class="logo">
        <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search">
      <button type="button">Search</button>
    </div>
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a routerLink="/login-register">Contul meu</a>
      </li>
      <li>
        <a routerLink="/about">About us</a>
      </li>
      <li *ngIf="myToken">
        <a routerLink="/contact">Contact</a>
      </li>
      <li *ngIf="myToken">
        <a routerLink="/cos">Cosul meu</a>
      </li>
      <li>
        <a routerLink="/produse">Produse</a>
      </li>
      <li>
        <a routerLink="/admin-produse" style="display: none;">Produse A</a>
      </li>
      
    </ul>
  </nav>
  