<nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a href="#">Categories</a>
        <ul>
          <li><a href="#">Computers</a></li>
          <li><a href="#">Phones</a></li>
          <li><a href="#">Gadgets</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">TVs</a></li>
        </ul>
      </li>
      <li><a href="#">Sales</a></li>
      <li><a href="#">New In</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </nav>
  