<div class="container">
    <div class="hero">
      <img src="../../assets/home-image.png" alt="Hero Image">
    </div>
    <div class="welcome">
      <h1>Welcome to my website!</h1>
      <p>We have everything you need to get started.</p>
    </div>
</div>

<div class="cards">
    <div class="card">
      <h2>Promotion 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus, mauris id consectetur maximus.</p>
      <button>Learn More</button>
    </div>
    <div class="card">
      <h2>Promotion 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus, mauris id consectetur maximus.</p>
      <button>Learn More</button>
    </div>
    <div class="card">
      <h2>Promotion 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus, mauris id consectetur maximus.</p>
      <button>Learn More</button>
    </div>
    
</div>
